<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NLP</title>
  </head>
  <body>
    <header>
      <div class="logo">NLP Evaluater</div>
    </header>

    <main>
      <div class="form">
        <textarea id="text" placeholder="Enter your text here"></textarea>
        <button id="sumbit-btn" type="submit">Submit</button>
      </div>

      <p>Results: </p>
      <div id="result">
      </div>
    </main>

    <footer>
      <p>&copy; NPL_Inc - 2024</p>
    </footer>
  </body>
</html>
